@mixin asterisks-before-and-after {
  &:before { content: "*"; }
  &:after { content: "*"; }
}

a {
  text-decoration: underline;
}

strong {
  @include asterisks-before-and-after;
}

em {
  font-style: normal;
  font-weight: bold;
}

body {
  > .hide-content {
    @include display(flex);
    @include flex(1);
  }
  > *:not(.hide-content) {
    display: none;
  }

  @include media(em(768)) {
    > .hide-content {
      display: none;
    }
    > *:not(.hide-content) {
      @include display(flex);
    }
  }
}
