@mixin asterisks-before-and-after {
  &:before { content: "*"; }
  &:after { content: "*"; }
}

a {
  text-decoration: underline;
}

strong {
  @include asterisks-before-and-after;
}

em {
  font-style: normal;
  font-weight: bold;
}
