<section class="basecamp-and-me-section">
  <div class="why-me">
    <h1 class="title">You should pick <em>me</em> because&hellip;</h1>
    <ul>
      <li>I am dangerous enough (for sth) with coding</li>
      <li>I do what I do with passion — that is programming</li>
      <li>I constantly seek to learn new things and adapt my skills as I evolve</li>
      <li>I am a very good written communicator — I pick my words carefully for careful readers to understand my thoughts as clear as possible</li>
      <li>I am good at creating (and destroying) new ideas and love to work them become real products or features</li>
      <li>I like watching movie trailers</li>
    </ul>
  </div>
  <div class="why-basecamp">
    <h1 class="title">I <strong>must</strong> work with you because&hellip;</h1>
    <ul class="list">
      <li>Remote work (also the book)</li>
      <li>Basecamp's company culture for employees (Jason's talks)</li>
      <li>I have to work with people who are possibly much better than I am in what they do so I can learn from them</li>
    </ul>
  </div>
</section>
