<section class="intro-section">
  <p>
    <strong>This is <a href="http://medium.com/&#64;aliservetdonmez">Ali</a>.</strong> I am the guy who created <a href="http://workinprogress.show">Work in Progress Show website</a> for <a href="http://twitter.com/jasonfried">Jason</a> and <a href="http://twitter.com/natekontny">Nate</a>. As soon as I heard you were looking for interns in 2016, I decided to show you how much I care about your work through this page.
  </p>

  <p>
    Please watch <strong>super short</strong> introduction video that I recorded <em>for you</em> and check out the product concept website that I am presenting in the video at <a href="http://talktomycustomers.com">http://talktomycustomers.com</a>.
  </p>

  <iframe class="video" src="https://player.vimeo.com/video/64761044?color=9a4024&title=0&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</section>
