<section class="talktomycustomers-section">
  <header>
    <h1>Talk to My Customers</h1>
    <p class="gototalktomycustomers">
      <a href="http://talktomycustomers.com" target="_blank">Visit the website</a>
    </p>
  </header>

  <p>
    Let me walk you through the process I used to prototype the product mentioned in the video. Please check out <a href="http://talktomycustomers.com" target="_blank">http://talktomycustomers.com</a> while reading this and then read on about my process.
  </p>

  <h2>Where the idea came from</h2>
  <p>
    As I am an avid follower of the <a href="http://workinprogress.show" target="_blank">Work in Progress Show</a>, when <a href="https://youtu.be/UGc-YqxVgho?t=21m41s" target="_blank">Jason mentioned</a> that he was surprised how hard it was to talk to Basecamp customers, I listened&hellip; <i>almost</i> obsessively. It appeared to be a real problem waiting to be solved, so decided to took my chances.
  </p>

  <p>
    More on this point, Jason recently experimented with a  <a href="https://twitter.com/jasonfried/status/698927266110156801" target="_blank">tweet</a> to Basecamp customers, asking them a simple question. He could've use Talk to My Customers instead!
  </p>

  <h2>Product decisions</h2>

  <p>
    After I sat down a while and think thoroughly about what a plausible solution would look like, I came to realize there were at least three main questions needed to be answered:
  </p>

  <ol>

    <li>
      <p class="question">
        Who are the users of Talk to My Customers?
      </p>
      <p>
        I believe much like in <a href="https://knowyourcompany.com" target="_blank">Know Your Company</a>; business owners, CEOs, product managers and people alike are the users. Talk to My Customers should be positioned as a <i>premium</i> product for non-techie people with a specific goal in mind.
      </p>
    </li>

    <li>
      <p class="question">
        How the <i>integration</i> feels like with business owners' existing customer base (in order to enable them to talk to their customers)?
      </p>
      <p>
        Business owners don't want (or don't have time or skills) to mess around with REST APIs, SQL queries, CSV files, etc. We must offer an exceptional experience to enable them reaching their customers. Whatever type of storage they use, our team must make sure their customers are always one click away from their finger tips. We will email, chat, meet, fly, talk and code in order to make Talk to My Customers work for them <i>every-single-time</i>.
      </p>
    </li>

    <li>
      <p class="question">
        What would be the primary means of communication?
      </p>
      <p>
        I think Talk to My Customers should embrace email as the primary communication tool. Virtually everyone has an email address and plain text messages are the real deal. No fancy HTML templates or new account creation should be necessary to read or reply. Talk to My Customers should send a daily summary email to business owners with all the customer replies in a clean and highly actionable format.
      </p>
    </li>

  </ol>

  <h2>Design process</h2>

  <p>
    As <a href="http://thinkcage.com/svn/backpack.html#work" target="_blank">Jason did</a> (no, not this <a href="http://www.kottke.org/" target="_blank">Jason</a>, nor this <a href="http://jasonsantamaria.com/" target="_blank">Jason</a>, and certainly not this <a href="http://en.wikipedia.org/wiki/Jason_Voorhees" target="_blank">Jason</a> :wink:) I too thought it might be interesting to show you a glimpse of how I arrived to the solution above. You can click images below to view them in full-size.
  </p>

  <div class="thumbnail-list">
    <a href="https://git.io/vgxJn" target="_blank"><img src="https://git.io/vgxJn" alt="" /></a>
    <a href="https://git.io/vgxJ8" target="_blank"><img src="https://git.io/vgxJ8" alt="" /></a>
    <a href="https://git.io/vgxJB" target="_blank"><img src="https://git.io/vgxJB" alt="" /></a>
    <a href="https://git.io/vgxJv" target="_blank"><img src="https://git.io/vgxJv" alt="" /></a>
    <a href="https://git.io/vgxJt" target="_blank"><img src="https://git.io/vgxJt" alt="" /></a>
    <a href="https://git.io/vgxJm" target="_blank"><img src="https://git.io/vgxJm" alt="" /></a>
  </div>

</section>
