$light-white-color: rgb(237,241,241);

.basecamp-header {
  max-width: none;
  @include vertical-stack;
  @include justify-content(flex-end);

  height: 60vh;
  min-height: 400px;

  background-image: url("https://git.io/vgyQ5");
  background-size: cover;
  background-position: center;

  > .greeting {
    margin-bottom: $small-spacing * 0.2;

    font-size: $base-font-size * 4;
    font-weight: 500;
    color: $light-white-color;
    text-align: center;
  }
}
