$light-white-color: rgb(237,241,241);
$light-gray-color: rgb(149,165,166);

.site-footer {
  @include vertical-stack;

  @include padding($base-spacing*2 null);

  background-color: $light-white-color;
  text-align: center;
  &, a {
    color: $light-gray-color;
    text-decoration: none;
  }

  > .title {
    font-size: $base-font-size * 1.4;
    font-weight: 500;
  }
}
