.hide-content {
  @include justify-content(center);
  @include align-items(center);

  @include padding($base-spacing);

  text-align: center;

  > h1 {
    font-size: $base-font-size * 2;
    &::after { content: " ;-("; }
  }
}
