$light-white-color: rgb(237,241,241);
$light-green-color: rgb(47,204,113);
$light-watermelon-color: rgb(239,114,122);

.quote-list {
  @include vertical-stack;

  margin-top: $base-spacing * 2;

  > blockquote {
    width: 70%;
    @include margin($small-spacing * 0.4);
    font-size: $base-font-size * 0.7;

    border-radius: $base-border-radius * 2;
    padding: 0.75em 1em;

    color: $light-white-color;

    &.-pro {
      margin-left: -5%;
      background-color: $light-green-color;
    }

    &.-con {
      margin-left: 5%;
      background-color: $light-watermelon-color;
    }
  }

  > blockquote > .quote {
    margin: 0;

    &:before { content: "“ "; }
    &:after { content: " ”"; }
  }

  > blockquote cite {
    font-size: $base-font-size * 0.4;
    &:before { content: "— "; }
  }
}
